* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

/* Navbar styles */
#first-nav {
  font-size: 17px;
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  font-size: 18px;
}

#heart-icon {
  font-size: large;
  color: rgb(0, 132, 255);
  margin-top: 10px;
}

#item-icon {
  color: rgb(0, 132, 255);
}

.nav-button {
  background-color: #fff;
  color: #000;
}

#searchinput {
  width: 100%; /* Adjusted for responsiveness */
  height: 50px;
  border-radius: 35px;
}

#searchicon {
  position: relative;
  top: -37px;
  right: -150px;
  color: black;
}

.underline {
  border-bottom-width: 2px;
}

/* Home styles */
#second-car,
#third-car {
  width: 45px;
  height: 45px;
}

#head1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
  color: rgb(4, 4, 44);
}

.slide-desc {
  font-size: 30px;
  color: black;
}

.home-text {
  margin-bottom: 40%; /* Adjusted for responsiveness */
  margin-right: -3%;
}

/* Other sections (About, Services, Pet Collection, Box, Blog) - Adjusted styles accordingly */

/* Footer styles */
.site-footer {
  background-color: rgb(4, 4, 44);
  padding: 3% 0; /* Adjusted for responsiveness */
  font-size: 15px;
  line-height: 27px;
  color: #fff;
  margin-top: 3%;
  margin-bottom: -25px; 
}

/* Footer media query for smaller screens */
@media (max-width: 767px) {
  .site-footer {
    padding: 5% 0;
  }

  .footer-links {
    padding-left: 0;
    list-style: none;
  }

  .logo-footer {
    margin-bottom: 20px;
  }

  .footer-img {
    width: 80px;
    height: 70px;
    margin: 7px;
  }

  .footer-icon {
    float: none;
    text-align: center;
    margin-top: 10px;
  }

  .gallery-img {
    margin-left: 0;
  }
}


#nav-underline:hover{
  color: rgb(0, 132, 255);
  border-bottom: 3px solid rgb(0, 132, 255);
}


.js-search{
  margin-top: 20px;
}

.card-img-top{
  height: 300px;
}

.card-body{
  height: 200px;
}

#box-content{
  margin-top: -12rem;
  margin-left: 1rem;
}

#about-btn {
  width: 160px;
  border-radius: 50px;
}

#pet-btn {
  width: 160px;
  border-radius: 50px;
  margin-left: 580px;
  margin-bottom: 80px;
}

#cardyy{
  height: 25rem;
}

#box {
  width: 79rem;
  height: 22rem;
  border-radius: 25px;
  margin-left: 1px;
}

@media (max-width: 767px) {
  body {
    margin-left: 0;
    margin-right: 0;
  }

  .home-text {
    margin-bottom: 10%; /* Adjusted for responsiveness */
    margin-right: -3%;
  }

  #navv-items{
    margin-left: -11rem;
  }

  #pet-btn {
    width: 160px;
    border-radius: 50px;
    margin-left: 120px;
    margin-bottom: 80px;
  }

  #searchinput {
    width: 300px; /* Adjusted for responsiveness */
    height: 50px;
    border-radius: 35px;
    margin-left: -13px;
    margin-bottom:-2rem ;
}

#searchicon{
  margin-top: 35px;
  margin-left: 6rem;
}
  
  
}
